################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroserviceSample/.vs/MicroserviceSample/v15
/MicroserviceSample/PlusService/bin/Debug/netcoreapp2.1
/MicroserviceSample/PlusService/obj
/MicroserviceSample/MultipleService/bin/Debug/netcoreapp2.1
/MicroserviceSample/MultipleService/obj/Debug/netcoreapp2.1
/MicroserviceSample/MultipleService/obj
/MicroserviceSample/Gateway/obj/Debug/netcoreapp2.2
/MicroserviceSample/Gateway/obj
/MicroserviceSample/Gateway/bin/Debug/netcoreapp2.2
/MicroserviceSample/WebApplication1
/MicroserviceSample/QueuePublisher/bin/Debug/netcoreapp2.2
/MicroserviceSample/QueuePublisher/obj
