################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroserviceSample/.vs/MicroserviceSample/v15
/MicroserviceSample/PlusService/bin/Debug/netcoreapp2.1
/MicroserviceSample/PlusService/obj
